# Server
PORT=5000
NODE_ENV=production

# MongoDB
MONGODB_URI=mongodb+srv://deekshithushetty21:369814@cluster0.d9icf9s.mongodb.net/habit-tracker

# JWT Secrets (use strong random strings in production)
JWT_ACCESS_SECRET=f9b7848c50362e463c6e87f1c4bc40ced84f52253212a565c71e93723a525246
JWT_REFRESH_SECRET=e2021bc903df97a1472d16cbaaea99a0444b576fbc7edd116944ac4147da5340
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Frontend URL (for CORS)
FRONTEND_URL=https://your-app.vercel.app